h5 {
    font-size: 18px;
    font-weight: 500;
}

.banner {
    margin-bottom: 2vh;
    min-height: 100vh;
    background-image: url('./img/banner.jpg');
    background-attachment: fixed;
    background-position: 20%;
}

.title {
    margin-top: 5vh;
}

h1.title {
    color: white;
    text-align: center;
    font-size: 70px;
    padding: 33vh 0;
}

.featured_item {
    text-align: center;
}

.about {
    background-image: linear-gradient(to right, rgb(211, 211, 211), rgb(255, 255, 255));
    text-align: center;
    padding: 5vh 15%;
}

.items, .contact {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 33vh;
}

.items {
    background-image: url('./img/hammer.jpg');
}

.items h5, .contact h5 {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 15vh;
}

.link {
    color: rgb(238, 238, 238);

}

.contact {
    background-image: url('./img/contact.jpg');
}