h1, h5 {
    text-align: center;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 30px;
}

.banner, .items, .contact, .success_stories {
    background-attachment: fixed;
    background-position: 20%;
}

.banner {
    min-height: 100vh;
    background-image: url('./img/banner.jpg');
}

h1.title {
    color: white;
    font-size: 70px;
    padding: 33vh 0;
}

.about, .success_stories {
    padding: 5vh 3%;
}

.about {
    width: 100%;
    background-image: linear-gradient(to right, rgb(211, 211, 211), rgb(255, 255, 255));
    padding: 5vh 3%;
}

.success_stories {
    background-image: url('./img/logs.jpg');
}

.success_stories, .link {
    color: rgb(238, 238, 238);
}

.items, .contact {
    min-height: 33vh;
}

.items {
    background-image: url('./img/hammer.jpg');
}

.items h5, .contact h5 {
    position: relative;
    top: 15vh;
}

.contact {
    background-image: url('./img/contact.jpg');
}